*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    height: 400px;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    /* flex-wrap:wrap; */
    row: gap 20px;;

    justify-content:space-around;
    align-items:center;
    align-content:center;
}
.box{
    border: 2px solid green;
    margin: 10px ;
    width: 80px;
}
#box-1{
   order: 1;
   flex-grow:1;

}
#box-4{
    order: 4;
    flex-grow: 2;
    flex-shrink: 1;
}