*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100%;
    overflow: hidden;
}
.navbar{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: px 60px; */
    font-family: 'poppins',sans-serif;
    cursor: pointer;
}
.list{
    list-style: none;
    display: flex;
    gap: 20px;
}
li{
    font-size: 14px;
    cursor: pointer;
}
.logo{
    font-weight:bold;
    font-size: 25px;
    padding-left: 40px;
}
.username{
    font-weight:bold;
  
    color: #1e88e5;
    border-radius: 12%;
    /* padding-right: 50px; */
        font-family: poppins;
        font-size: 14px;



}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    
}
.left{
    max-width: 520px;
    /* background-color: aliceblue; */
    padding: 20px;
    font-size: 3vw;
    line-height: 1.3;
     font-family: 'poppins',sans-serif;
     
}
.heading{
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}
.description{
    font-weight: lighter;
    /*text-align: center; */
    font-size:1vw;
    color: #555;
    margin: 1vw 0;

}
button{
    
    background:#1e88e5;
    color: white;
    border: none;
    padding: 0.8vw 1.8vw;
    font-size: 1vw;
    border-radius: 12px;
    cursor: pointer;
}
.right{
    max-width: 520px;
    width: 28vw;
   
    
}
img{
    max-width: 520px;
}
@media  (max-width: 1024px) {
    .container{
        flex-direction: column;
    }
     .left{
        width: 90%;
    } 
    .right{
        /* grid-row: spam 1; */
        grid-column: span 3;
        width: 90%;
    }
    .image{
        max-width: 260px;
    }
}