.box{
    width: 200px;
    height: 200px;
    background: #000;
    margin: 100px auto;
    /* transition: 1s; */
    transition-duration:0.8s;
    transition-property:background-color,border-radius,transform;
    /* transition-delay: 0,5s; */
    transition-timing-function:linear;
}

.box:hover{
    background-color: yellow;
    border-radius: 50%;
    transform: rotate(180deg);
}
  nav{
    background-color: #000;
    color: aliceblue; 
}
.list{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 1.5rem;
     transition: 0.5 ease-in;
}
.list:hover{
    color: red;
    cursor: pointer;
    transform: translatey(10px);
   
}