*{
    /* border: 1px solid; */
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
p{
    width: 70%;
    display: block;
}
img{
    width: 15%;
    height: 15%;
    display: inline-block;
}
ul{
    list-style: none;
    text-align: right;
    background: #000;
    padding: 30px;
}
ul > li> a{
    color: aqua;
    text-decoration:none;
}
li{
    display: inline;

}
li>a:hover{
    color: white;
}