.container{
    width: 600px;
    height: 600px;
    background: aqua;
    margin: 100px;
}
.box{
    color: azure;
    width: 100px;
    height: 100px;
}
.static{
    position: static;
    background-color: black;
}

.relative{
    position: relative;
    background-color: red;
    /* top: 50px;
    left: -100px; */
    top: 100px;
    left: 200px;

}
.absolute{
    background-color: blue;
    position: absolute;
    top: 0%;
    left: 0%;
}
.fixed{
    background-color: brown;
    /* z-index: 5; */
    position: fixed;
    /* top: 10%;
    left:0%; */
    bottom: 50px;
    right: 50px;
}
.sticky{
    background-color: blueviolet;
    position: sticky;
    top: 300px;
    left: 120px;
}

.blankspace{
    height:400vh;
}